td img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.CoinContainer {
  display: flex;
  align-items: center;
}

.CoinDetailContainer {
  text-align: left;
}

.CoinSym {
  font-size: 12px;
  color: #575a68;
}

td a {
  border-radius: 15px;
  border: 1px solid #34353e;
  padding: 5px 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: #e5e4e8;
}
