.Main {
  padding: 0 50px;
}

.Hero {
  height: 30rem;
  display: flex;
  align-items: center;
}

.Hero:before {
  content: ' ';
  z-index: -100;
  display: block;
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  background-image: url("../images/chart.png");
  background-position: 80% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.HeroRight {
  max-width: 60%;
}

.HeroRight h1 {
  font-size: 50px;
}

.HeroRight h3 {
  font-size: 30px;
  font-weight: normal;
}
